## 第十三天 常用屬性或方法（2）ndarray

In [21]:
import numpy as np
import pandas as pd
ironmen = [56, 8, 19, 14, 6, 71]
ironmen_array = np.array(ironmen)
#print(ironmen)
print(ironmen_array)
print(ironmen_array.ndim) # num of dimensions
print(ironmen_array.shape) # m*n
print(ironmen_array.dtype) # 資料類型
print("\n")

#2d array
ironmen_2d = [range(1, 7), [58, 8, 19, 14, 6, 71]]
ironmen_2d_array = np.array(ironmen_2d)
print(ironmen_2d_array.ndim)
print(ironmen_2d_array.shape)
print(ironmen_2d_array.dtype)

print("---建立 ndarray---")
print(np.zeros(6))
print("------")
print(np.zeros((2, 6)))
print("------")
print(np.empty((2, 6, 2))) # 二十四個元素均為未初始化的值
print("------")
print(np.arange(11)) # 十一個元素為 0 到 10 的 1d array

[56  8 19 14  6 71]
1
(6,)
int32


2
(2, 6)
int32
---建立 ndarray---
[0. 0. 0. 0. 0. 0.]
------
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
------
[[[6.23042070e-307 4.67296746e-307]
  [1.69121096e-306 8.90127157e-308]
  [1.89146896e-307 1.37961302e-306]
  [1.05699242e-307 8.01097889e-307]
  [1.78020169e-306 7.56601165e-307]
  [1.02359984e-306 8.90092016e-307]]

 [[1.78021798e-306 6.23059726e-307]
  [1.69121096e-306 6.23059726e-307]
  [6.23060065e-307 9.34608432e-307]
  [1.95820760e-306 7.56587585e-307]
  [1.33511969e-306 1.37961709e-306]
  [1.42410974e-306 9.34600283e-307]]]
------
[ 0  1  2  3  4  5  6  7  8  9 10]

In [39]:
# 轉換變數類型
# ndarray 的 astype() 方法可以轉換變數類型。
import numpy as np
ironmen = ["56", "8", "19", "14", "6", "71"]
ironmen_str_array = np.array(ironmen)
print(ironmen_str_array)
print("---")
# transform int64
ironmen_int_array = ironmen_str_array.astype(np.int64)
print(ironmen_int_array)
# print(ironmen_int_array.dtype)

print("用索引值進行篩選")
# 用索引值進行篩選
# 利用 [] 搭配索引值篩選 ndarray，這點與 R 語言作法相同。
my_array = np.arange(10)
print(my_array[0])
print(my_array[0:5])
print("---")

my_2d_array = np.array([np.arange(0, 5), np.arange(5, 10)])
print(my_2d_array)
print("---")
print(my_2d_array[1, :])
print(my_2d_array[:, 1])
print(my_2d_array[0, 1])

print("用布林值進行篩選")
# 用布林值進行篩選
# 利用布林值（bool）篩選 ndarray，，這點與 R 語言作法相同。

ironmen = [56, 8, 19, 14, 6, 71]
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "myself"]
ironmen_array = np.array(ironmen)
groups_array = np.array(groups)
# 用人數去篩選組別
print(ironmen_array >= 10) # 布林值陣列
print(groups_array[ironmen_array >= 10]) # 鐵人數大於 10 的組別

# 用組別去篩選人數
print(groups_array != "myself") 
print(ironmen_array[groups_array != "myself"])

['56' '8' '19' '14' '6' '71']
---
[56  8 19 14  6 71]
用索引值進行篩選
0
[0 1 2 3 4]
---
[[0 1 2 3 4]
 [5 6 7 8 9]]
---
[5 6 7 8 9]
[1 6]
1
用布林值進行篩選
[ True False  True  True False  True]
['Modern Web' 'Cloud' 'Big Data' 'myself']
[ True  True  True  True  True False]
[56  8 19 14  6]

In [85]:
# 轉置矩陣
import numpy as np
data = np.arange(12)
data = data.reshape(3, 4)
print(data)
print("---")
print(data.T)

print("numpy 的 where 方法")
# numpy 的 where 方法
# 透過 numpy 的 where() 方法在 ndarray 中進行流程控制。
ironmen_array = np.array([56, 8, 19, 14, 6, np.nan])
print(ironmen_array)
ironmen_array = np.where(np.isnan(ironmen_array), 71, ironmen_array)
print(ironmen_array)
ironmen_array.sort() 
print(ironmen_array)

print("""
---隨機變數---
1. normal dist.
2. uniform dist.
      """)
# 隨機變數
# 透過 numpy 的 random() 方法可以生成隨機變數。
# import random as rd
# help(np.random.normal)
normal_samples = np.random.normal(loc=0, scale=1, size = 10)
print(normal_samples)
#print(normal_samples.mean())
uni_samples = np.random.uniform(size = 10)
print("---")
print(uni_samples)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
---
[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]
numpy 的 where 方法
[56.  8. 19. 14.  6. nan]
[56.  8. 19. 14.  6. 71.]
[ 6.  8. 14. 19. 56. 71.]

---隨機變數---
1. normal dist.
2. uniform dist.

[-0.63751493 -0.61646155  0.0280242  -0.37736113  0.17077016 -0.636564
 -0.48345925 -0.53555846  0.62007183  0.8845174 ]
---
[0.67782347 0.42600539 0.43474876 0.96568203 0.64152596 0.8441292
 0.66117051 0.86163403 0.84604529 0.89554793]

## 第十四天 常用屬性或方法（3）Data Frame

In [38]:
# set data frame
import pandas as pd
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "myself"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
    "groups" : groups,
    "ironmen" : ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("-----")
print(ironmen_df.ndim)
print(ironmen_df.shape)
#ironmen_df.dtypes
# drop
print("drop data")
ironmen_no_mw = ironmen_df.drop(0, axis = 0)
print(ironmen_no_mw)
print("---刪除欄位---")
ironmen_no_groups = ironmen_df.drop("groups", axis = 1)
print(ironmen_no_groups)
print("---")
print(ironmen_df.ix[:, "groups"])
print(ironmen_df.ix[0])
print("----")
print(ironmen_df.ix[0, "groups"])

filter = ironmen_df["ironmen"] > 10
ironmen_df[filter]

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5      myself       77
-----
2
(6, 2)
drop data
     groups  ironmen
1    DevOps        9
2     Cloud       19
3  Big Data       14
4  Security        6
5    myself       77
---刪除欄位---
   ironmen
0       59
1        9
2       19
3       14
4        6
5       77
---
0    Modern Web
1        DevOps
2         Cloud
3      Big Data
4      Security
5        myself
Name: groups, dtype: object
groups     Modern Web
ironmen            59
Name: 0, dtype: object
----
Modern Web

C:\Users\ms022\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

       groups  ironmen
0  Modern Web       59
2       Cloud       19
3    Big Data       14
5      myself       77

In [56]:
print("---sort---")
import pandas as pd
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "myself"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
    "groups" : groups,
    "ironmen" : ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
#ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

print(ironmen_df)
print("-----")
#ironmen_df.sort_index()
print(ironmen_df.sort_values(by = "ironmen"))

print(ironmen_df.sum())
print(ironmen_df.mean())
print(ironmen_df.median())
print(ironmen_df.describe())
print("---相異值個數---")
# 相異值個數
# 透過 pandas 的 value_counts() 方法可以統計相異值的個數。
gender = ["Male", "Male", "Female", "Male", "Male", "Male", "Female", "Male", "Male"]
name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "文斯莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克"]
dataFrame = pd.DataFrame(gender, columns = ["gender"], index = name)
pd.value_counts(dataFrame.gender)

---sort---
       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5      myself       77
-----
       groups  ironmen
4    Security        6
1      DevOps        9
3    Big Data       14
2       Cloud       19
0  Modern Web       59
5      myself       77
groups     Modern WebDevOpsCloudBig DataSecuritymyself
ironmen                                            184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000
---相異值個數---

Male      7
Female    2
Name: gender, dtype: int64

In [72]:
# 遺失值
# 判斷遺失值
# isnull() 方法
# notnull() 方法
import numpy as np
import pandas as pd 

groups = ["Modern Web", "DevOps", np.nan, "Big Data", "Security", "myself"]
ironmen = [59, 9, 19, 14, 6, np.nan]

ironmen_dict = {
    "groups" : groups,
    "ironmen" : ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
ironmen_df.loc[:, "groups"].isnull() # where is missing value
ironmen_df.loc[:, "ironmen"].notnull() # where is not missing value

# 處理 missing value
# dropna() 方法
# fillna() 方法

print(ironmen_df.dropna()) # deleted missing value
print("-----")
print(ironmen_df.fillna(0))# fill NA with 0
print("-----")
print(ironmen_df.fillna({"groups":"Cloud", "ironmen":71}))

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5      myself      NaN
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
-----
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5      myself      0.0
-----
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5      myself     71.0

## 第十五天 載入資料

In [11]:
import pandas as pd
url1 = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.csv"
iris_df = pd.read_csv(url1)
print(iris_df.head())
print("---")
url2 = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.tsv"
iris_df2 = pd.read_csv(url2, sep = "\t")
print(iris_df2.head())
print("---")
url3 = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.txt" # 在雲端上儲存了一份 txt 檔案
iris_df3 = pd.read_table(url3, sep = ":")
print(iris_df3.head())
print("---")
url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.txt" # 在雲端上儲存了一份 txt 檔案
iris_colon_sep_df = pd.read_table(url, sep = ":")
print(iris_colon_sep_df.head())
print("---")

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---

## 載入 JSON
#### SON（JavaScript Object Notation）格式的資料是網站資料傳輸以及 NoSQL（Not only SQL）資料庫儲存的主要類型，R 語言與 Python 有相對應的套件可以協助我們把 JSON 資料格式載入後轉換為我們熟悉的 data frame。

In [13]:
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.json" # 在雲端上儲存了一份 JSON 檔
iris_json_df = pd.read_json(url)
iris_json_df.head()

   Petal.Length  Petal.Width  Sepal.Length  Sepal.Width Species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa

## 第十六天 網頁解析

### 準備工作
#### 除了 BeautifulSoup 套件以外，我們還需要搭配使用 lxml 套件與 requests 套件。由於我們的開發環境是安裝 Anaconda，所以這些套件都不需要再另外下載與安裝，只要進行一貫的 import 就好。如果對於開發環境的部分有興趣，我推薦你參考 第 一 天 建立開發環境與計算機應用。
### lxml 套件
#### lxml 套件是用來作為 BeautifulSoup 的解析器（Parser），BeautifulSoup 可以支援的解析器其實不只一種，還有 html.parser（Python 內建）與 html5lib，根據官方文件的推薦，我們使用解析速度最快的 lxml。
### requests 套件
#### requests 套件允許我們發送與接收有機及草飼的 HTTP/1.1 請求（這真的是美式幽默。）

In [44]:
print("第一個 BeautifulSoup 應用")
import requests as rq
from bs4 import BeautifulSoup

url = "https://www.ptt.cc/bbs/NBA/index.html" # ptt NBA 板
response = rq.get(url) # 用 requests 的 get 把網頁抓下來
html_doc = response.text # text 屬性就是 html 的檔案
# print(html_doc)
soup = BeautifulSoup(response.text, "lxml") # 指定 lmxl 作為解析器
# print(soup.prettify()) #將排版後的 html 印出
print(soup.title) # 把 tag 抓出來
print("---")
print(soup.title.name) # 把 title 的 tag 名稱抓出來
print("---")
print(soup.title.string) # 把 title tag 的內容欻出來
print("---")
print(soup.title.parent.name) # title tag 的上一層 tag
print("---")
print(soup.a) # 把第一個 <a></a> 抓出來
print("---")
# print(soup.find_all('a')) # 把所有的 <a></a> 抓出來

print("""
------------
| bs4 元素  |
| 標籤(tag) |
------------
""")
print(type(soup.a))
print("---")
print(soup.a.name) # 抓標籤名 a
print("---")
print(soup.a['id'])
print("----------------")
print("標籤中的內容（NavigableString）")
print(type(soup.a.string))
print("---")
print(soup.a.string)
type(soup)

第一個 BeautifulSoup 應用
<title>看板 NBA 文章列表 - 批踢踢實業坊</title>
---
title
---
看板 NBA 文章列表 - 批踢踢實業坊
---
head
---
<a href="/bbs/" id="logo">批踢踢實業坊</a>
---

------------
| bs4 元素  |
| 標籤(tag) |
------------

<class 'bs4.element.Tag'>
---
a
---
logo
----------------
標籤中的內容（NavigableString）
<class 'bs4.element.NavigableString'>
---
批踢踢實業坊

bs4.BeautifulSoup

### 爬樹
#### DOM（Document Object Model）的樹狀結構觀念在使用 BeautifulSoup 扮演至關重要的角色，所以我們也要練習爬樹。

### 往下爬
#### 從標籤中回傳更多資訊。

#### $contents 屬性 \\
children 屬性 \\
string 屬性$

### 往上爬
#### 回傳上一階層的標籤。

#### $parent 屬性$

### 往旁邊爬
#### 回傳同一階層的標籤。

#### $next_sibling 屬性 \\
previous_sibling 屬性$

In [70]:
import requests as rq
from bs4 import BeautifulSoup

url = "http://www.ptt.cc/bbs/NBA/index.html" #ptt NBA
response = rq.get(url) # 抓網頁
html_doc = response.text
soup = BeautifulSoup(response.text, "lxml")
print("往下爬")
print(soup.body.a.contents)
print(list(soup.body.a.children))
print(soup.body.a.string)
print("---往上爬---")
print(soup.title)
print("---")
print(soup.title.parent)
print("---往旁邊爬---")
first_a_tag = soup.body.a
next_to_a_tag = first_a_tag.next_sibling
print(first_a_tag)
print("---")
print(next_to_a_tag)
print("---")
print(next_to_a_tag.previous_sibling)

print("---搜尋---")
print(soup.find("a")) # first <a></a>
print("---")
# print(soup.find_all("a")) # all <a></a>
## 加入 class_= 加入CSS的類別

print(soup.find("div", class_= "r-ent"))

往下爬
['批踢踢實業坊']
['批踢踢實業坊']
批踢踢實業坊
---往上爬---
<title>看板 NBA 文章列表 - 批踢踢實業坊</title>
---
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>看板 NBA 文章列表 - 批踢踢實業坊</title>
<link href="//images.ptt.cc/bbs/v2.25/bbs-common.css" rel="stylesheet" type="text/css"/>
<link href="//images.ptt.cc/bbs/v2.25/bbs-base.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="//images.ptt.cc/bbs/v2.25/bbs-custom.css" rel="stylesheet" type="text/css"/>
<link href="//images.ptt.cc/bbs/v2.25/pushstream.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="//images.ptt.cc/bbs/v2.25/bbs-print.css" media="print" rel="stylesheet" type="text/css"/>
</head>
---往旁邊爬---
<a href="/bbs/" id="logo">批踢踢實業坊</a>
---


---
<a href="/bbs/" id="logo">批踢踢實業坊</a>
---搜尋---
<a href="/bbs/" id="logo">批踢踢實業坊</a>
---
<div class="r-ent">
<div class="nrec"><span class="hl f2">9</span></div>
<div class="title">
<a href="/bbs/NBA/M.1545642880.A.021.html">[外絮] NBA球員聖誕節比賽得分排行Top 10</a>
</div>
<div class="meta">
<div class="author">pneumo</div>
<div class="article-menu">
<div class="trigger">⋯</div>
<div class="dropdown">
<div class="item"><a href="/bbs/NBA/search?q=thread%3A%5B%E5%A4%96%E7%B5%AE%5D+NBA%E7%90%83%E5%93%A1%E8%81%96%E8%AA%95%E7%AF%80%E6%AF%94%E8%B3%BD%E5%BE%97%E5%88%86%E6%8E%92%E8%A1%8CTop+10">搜尋同標題文章</a></div>
<div class="item"><a href="/bbs/NBA/search?q=author%3Apneumo">搜尋看板內 pneumo 的文章</a></div>
</div>
</div>
<div class="date">12/24</div>
<div class="mark"></div>
</div>
</div>

## BeautifulSoup 牛刀小試
### 把 PTT NBA 版首頁資訊包含推文數，作者 id，文章標題與發文日期搜集下來。

In [40]:
import numpy as np
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup

url = "https://www.ptt.cc/bbs/NBA/index.html"
response = rq.get(url)
html_doc = response.text
soup = BeautifulSoup(html_doc, "lxml")

# posts = soup.find_all("div", class_="r-ent")
#print(posts)
# type(posts)

author_ids = [] # null list id
recommends = [] # null list 推文數
post_title = [] # null list 標題
post_dates = [] # null list Po文日期

posts = soup.find_all("div", class_="r-ent")
for post in posts:
    try:
        author_ids.append(post.find("div", class_="author").string)
    except:
        author_ids.append(np.nan)
        
    try:
        post_title.append(post.find("a").string)
    except:
        post_title.append(np.nan)
        
    try:
        post_dates.append(post.find("div", class_ = "date").string)
    except:
        post_dates.append(np.nan)

# 推文數藏在 div 裡面的 span 所以分開處理
recommendations = soup.find_all("div", class_ = "nrec")
#print(recommendations)
for recommendation in recommendations:
    try:
        recommends.append(int(recommendation.find("span").string))
    except:
        recommends.append(np.nan)
        
#print(author_ids)
#print("---")
#print(post_title)
#print("---")
#print(post_dates)
#print("---")
#print(recommends)

ptt_nba_dict = {
    "author": author_ids,
    "title": post_title,
    "date": post_dates,
    "recommend": recommends
}

ptt_nba_df = pd.DataFrame(ptt_nba_dict)
ptt_nba_df

          author   date  recommend                                   title
0         pneumo  12/24       33.0               [外絮] NBA球員聖誕節比賽得分排行Top 10
1       fack3170  12/24       59.0        [花邊] Durant談湖人:Kuzma擔當了LeBron身邊的
2          JIAHE  12/24       98.0                        [討論] 有全綠葉的隊伍奪冠過嗎
3   charlie99999  12/24       31.0                     [討論] 獨行俠 vs 拓荒者賽後分析
4       k7202001  12/24       15.0                    Re: [討論] 有全綠葉的隊伍奪冠過嗎
5        QoGIVoQ  12/24       39.0              [花邊] James：聖誕大戰對勇士還不是衡量我們實
6       adam7148  12/24       12.0              [花邊] 今日常規賽上腳球鞋一覽：詹姆斯上腳LeBr
7              -  12/24        6.0                                     NaN
8        sky5730  12/24        3.0              Re: [新聞] 回應外界酸言酸語　KD：你奈我何？
9              -  12/24        1.0                                     NaN
10      go190214  12/24       21.0                 [新聞] 號稱快艇最死忠粉絲 好萊塢男星將客串
11      nocturne  12/24       58.0              [討論] Jerry West當時操作勇士時有被酸嗎
12     bbbyes123  12/24       56.0                      [新聞] 德佬怒砸這洞 將跟勇士搬家
13     fukawa947  12/24       33.0          [新聞] 熱火焚燒魔術5連勝　Spoelstra執教500勝
14         Rambo  12/24        7.0                 [情報] ★今日排名(2018.12.24)★
15        newyee  12/24        NaN                        [討論] 德佬是不是該立馬退休?
16        pneumo  12/24       31.0       [外絮] LBJ為他IG上講到有關"Jewish Money"道歉
17  Aldridge2006  12/24       20.0             [討論] Stockton生涯缺席二十二場是怎麼辦到的
18           jfs  12/24        6.0              Re: [新聞] 回應外界酸言酸語　KD：你奈我何？
19  kenny1300175  12/24        4.0      Re: [新聞] 熱火焚燒魔術5連勝　Spoelstra執教500勝
20    abc7360393   9/04        NaN                             [公告] 板規v6.2
21       JerroLi  11/30       14.0  [情報] SEASON Schedule 賽程 December 18–19
22       MrSatan  12/21       52.0         [情報] NBA Standings (2018.12.21)

## 第十七天 資料角力

In [77]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", 
        "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", 
        "佛朗基", "布魯克"]
occupation = ["船長", "劍士", "航海士", "狙擊手", "廚師", 
              "醫生", "考古學家", "船匠", "音樂家"]

one_piece_dict = {
    "name": name,
    "occupation": occupation
}
one_piece_df = pd.DataFrame(one_piece_dict)
#one_piece_df

name = ["蒙其·D·魯夫", "多尼多尼·喬巴", "妮可·羅賓", "布魯克"]
devil_fruit = ["橡膠果實", "人人果實", "花花果實", "黃泉果實"]

devil_fruit_dict = {
    "name": name,
    "devil fruit": devil_fruit
}
devil_fruit_df = pd.DataFrame(devil_fruit_dict)
#devil_fruit_df

## 連結表格

one_piece_merged = pd.merge(one_piece_df, devil_fruit_df, how = "left")
one_piece_merged.fillna("")

## 合併

name = ["娜菲鲁塔利·薇薇"]
occupation = ["阿拉巴斯坦王國公主"]
princess_vivi_dict = {"name": name,
                      "occupation": occupation
}
princess_vivi_df = pd.DataFrame(princess_vivi_dict, index = [9])

princess_vivi_df

# 新增一個觀測值
one_piece_df_add_vivi = pd.concat([one_piece_df, princess_vivi_df])
one_piece_df_add_vivi

# 新增一個變數欄位

age = [19, 21, 20, 19, 21, 17, 30, 36, 90, 18]
age_dict = {"age": age
}
age_df = pd.DataFrame(age_dict)
#age_df

one_piece_df_add_vivi_age = pd.concat([one_piece_df_add_vivi, age_df], axis = 1)
one_piece_df_add_vivi_age
## 轉置
## 轉置（Transpose）指的是寬表格（Wide table）與長表格（Long table）之間的互換。
long_table = one_piece_df_add_vivi_age.stack()
long_table
one_piece = long_table.unstack()
one_piece

       name occupation devil fruit
0   蒙其·D·魯夫         船長        橡膠果實
1    羅羅亞·索隆         劍士
2        娜美        航海士
3       騙人布        狙擊手
4  賓什莫克·香吉士         廚師
5   多尼多尼·喬巴         醫生        人人果實
6     妮可·羅賓       考古學家        花花果實
7       佛朗基         船匠
8       布魯克        音樂家        黃泉果實

       name occupation
9  娜菲鲁塔利·薇薇  阿拉巴斯坦王國公主

       name occupation
0   蒙其·D·魯夫         船長
1    羅羅亞·索隆         劍士
2        娜美        航海士
3       騙人布        狙擊手
4  賓什莫克·香吉士         廚師
5   多尼多尼·喬巴         醫生
6     妮可·羅賓       考古學家
7       佛朗基         船匠
8       布魯克        音樂家
9  娜菲鲁塔利·薇薇  阿拉巴斯坦王國公主

       name occupation  age
0   蒙其·D·魯夫         船長   19
1    羅羅亞·索隆         劍士   21
2        娜美        航海士   20
3       騙人布        狙擊手   19
4  賓什莫克·香吉士         廚師   21
5   多尼多尼·喬巴         醫生   17
6     妮可·羅賓       考古學家   30
7       佛朗基         船匠   36
8       布魯克        音樂家   90
9  娜菲鲁塔利·薇薇  阿拉巴斯坦王國公主   18

0  name            蒙其·D·魯夫
   occupation           船長
   age                  19
1  name             羅羅亞·索隆
   occupation           劍士
   age                  21
2  name                 娜美
   occupation          航海士
   age                  20
3  name                騙人布
   occupation          狙擊手
   age                  19
4  name           賓什莫克·香吉士
   occupation           廚師
   age                  21
5  name            多尼多尼·喬巴
   occupation           醫生
   age                  17
6  name              妮可·羅賓
   occupation         考古學家
   age                  30
7  name                佛朗基
   occupation           船匠
   age                  36
8  name                布魯克
   occupation          音樂家
   age                  90
9  name           娜菲鲁塔利·薇薇
   occupation    阿拉巴斯坦王國公主
   age                  18
dtype: object

       name occupation age
0   蒙其·D·魯夫         船長  19
1    羅羅亞·索隆         劍士  21
2        娜美        航海士  20
3       騙人布        狙擊手  19
4  賓什莫克·香吉士         廚師  21
5   多尼多尼·喬巴         醫生  17
6     妮可·羅賓       考古學家  30
7       佛朗基         船匠  36
8       布魯克        音樂家  90
9  娜菲鲁塔利·薇薇  阿拉巴斯坦王國公主  18

In [81]:
# 移除重複值
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

# 建立一個有重複值的 data frame
name = ["蒙其·D·魯夫", "蒙其·D·魯夫", "蒙其·D·魯夫", "羅羅亞·索隆",
        "羅羅亞·索隆", "羅羅亞·索隆"]
age = [19, 19, 17, 21, 21, 19]
duplicated_dict = {
    "name": name,
    "age": age
}
duplicated_df = pd.DataFrame(duplicated_dict)
# 判斷是否重複
print(duplicated_df.duplicated())

# 去除重複觀測值
print(duplicated_df.drop_duplicates())

0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool
   age     name
0   19  蒙其·D·魯夫
2   17  蒙其·D·魯夫
3   21   羅羅亞·索隆
5   19   羅羅亞·索隆